*{
   margin: 0px;
   padding: 0px; 
}
body{
    font-family: 'poppins';
    background-color: rgb(232, 214, 238);
}
.navbar{
 
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}
.login-signup{
    display: flex;
    align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.section-1{
    background-image:  url("./images/dog-image.png");
    width: 100%;
    min-height: 40vh; 
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sub-section
{
    padding: 35px;
    margin: 20px;
}
.sub-sec-1{

}
.main-text{
font-size: 25px;
}
.maint-text-2{
    margin-top: 15px;
    font-size: 25px;
}
.section-btn{
    display: flex;
    gap: 25px;   
    margin-top: 20px;
}
.btn{
    
    padding: 17px;
    border-radius: 50px;   
    color: rgb(228, 56, 171);
    background-color: white;
}
