* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-colour-one: #D6F4F8;
  --bg-colour-two: #F3DAFB;
  --bg-button-color: #C8437B;
  --bg-colour-pink: #F4DAFB;
  --bg-colour-blue: #16969E;
  --font-color-one: #00A2B8;
  --theme-font: "Poppins", sans-serif;

}

body {
  font-family: var(--theme-font);

}

/* hero section */
.hero {
  background-image: linear-gradient(90deg,
      var(--bg-colour-one),
      var(--bg-colour-two));
}


/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.menu-item {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Section 1 */
.section-1 {
  min-height: 40vh;
  display: flex;
  align-items: center;
}

.sub-section {
  padding: 35px;
  margin: 20px;

  background-image: url("./images/dog-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  width: 100%;
}

.main-text {
  font-size: 25px;
  font-family: "Rubik Wet Paint", system-ui;
}

.main-text span {
  color: var(--font-color-one);
}

.main-text-2 {
  margin: 30px 0;
  font-size: 25px;
  word-break: break-word;

  max-width: 700px;
}





/* Buttons */
.btn,
.btn-4 {
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid var(--bg-button-color);
  background: white;
  color: var(--bg-button-color);
  cursor: pointer;

}


/* Section 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;

  background-image: linear-gradient(90deg,
      var(--bg-colour-one),
      var(--bg-colour-two));

  padding: 20px;
  border-radius: 30px;
}

.section-2 div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
  flex: 1;
  min-width: 250px;
}


/* Section 3 */
.section-3 {
  display: flex;
  flex-direction: column;
  background: white;
}

.section-3-img {
  padding: 20px;
  text-align: center;
}

.section-3-img img {
  width: 200px;
}

.section-3 h1 {
  padding: 10px;
}

.section-3-about {
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
  word-break: break-word;
}

.section-4 {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.section-4 h1 {
  padding: 10px;
}

.section-4-btn {
  padding: 10px;
  display: flex;
  gap: 20px;

}

.sec-4-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.sec-4-img {
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px -5px var(--font-color-one);
  border-radius: 20px;
  margin: 30px;
}

.sec-4-img img {
  max-width: 100%;
  height: auto;


}

.sec-4-text {
  padding: 20px;
  font-size: 20px;
}

.section-btn-4 {
  padding: 20px;
}

.section-5 {
  background-color: var(--bg-colour-pink);
  padding: 30px 20px;
  /* border-radius: 24px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-5-img {
  text-align: center;
}

.section-5-img img {
  max-width: 280px;
}

.section-5-content {
  border-style: solid;
  border-color: #C8437B;
  border-radius: 32px;
  border-width: 2px;
  padding: 24px;
  margin: 1.6px;
  display: flex;
  gap: 20px;
}

.btn-book-now {
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid var(--bg-colour-blue);
  background: white;
  color: var(--bg-colour-blue);
  cursor: pointer;
  width: fit-content;
}





.section-6 {

  padding: 50px;
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;

  background-color: white;

}

.section-6-1 {
  background-color: var(--bg-colour-two);
  padding: 20px 0px 0px 0px;
  border-radius: 20px;
  box-shadow: 0 0 20px -5px rgb(109, 109, 109);
  background-color: var(--bg-colour-one);

}

.section-6-2 {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.section-6-2-1 {
  text-align: center;
}



.section-7 {
  background-color: #EDFAFC;
  padding: 0 0 30px;
}

.section-7-1 {
  text-align: center;
  padding: 50px 0 50px;
}

.section-7-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
}

.sec-7-card-img img {
  position: absolute;
  top: -50px;
  left: 100px;
  width: 100px;
}

.sec-7-card {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: var(--bg-button-color);
  border-radius: 25px;
  width: 300px;
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: white;
  padding: 100px;

}

.logo-foot {
  text-align: left;
}

.footer li {

  color: rgb(42, 41, 41);
}


/* Media Query */




@media (min-width: 700px) {
  body {}

  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .hero {
    padding: 20px 100px;
  }

  .menu-item {
    justify-content: flex-end;
  }

  .section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 100px;

    align-items: center;
  }

  .section-3-img {
    flex: 1;
  }

  .section-3-img img {
    max-width: 300px;
  }

  .section-3-about {
    flex: 1;
    text-align: left;
    padding: 20px;

  }

  .section-4 {
    margin: 0 100px;
  }

  .sec-4-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;


  }

  /* .section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
  } */

  .section-5 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;

  }

  .section-5-img img {
    max-width: 360px;
  }

  .section-5-content {
    max-width: 100%;
  }

  .section-6-2 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .section-6-2-1 {
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
  }

  .section-6-person {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .section-6-2-2 {
    flex: 1;
    margin: 100px;
  }

  .section-7-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

}