* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-colour-one: #D6F4F8;
  --bg-colour-two: #F3DAFB;
  --bg-button-color: #C8437B;
  --bg-colour-pink: #F4DAFB;
  --bg-colour-blue: #16969E;
  --font-color-one: #00A2B8;
  --theme-font: "Poppins", sans-serif;
}


body {
  font-family: var(--theme-font);
  background-image: linear-gradient(90deg, var(--bg-colour-one),
      var(--bg-colour-two));
}

.navbar {

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

}

.logo {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.section-1 {
  background-image: url("./images/dog-image.png");
  width: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sub-section {
  padding: 35px;
  margin: 20px;
}

.sub-sec-1 {}

.main-text {
  font-size: 25px;
  font-family: "Rubik Wet Paint", system-ui;

}

.main-text span {
  color: var(--font-color-one)
}

.maint-text-2 {
  margin-top: 15px;
  font-size: 25px;
}

.section-btn {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.btn {
  padding: 17px;
  border-radius: 50px;
  color: var(--bg-button-color);
  background-color: white;
  border-color: var(--bg-button-color);
  border-width: 1px;

}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px;
  background-image: linear-gradient(90deg, var(--bg-colour-one), var(--bg-colour-two));
}

.section-2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}
.section-3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
.section-3-about h1{
  padding: 9px;
  text-align: center;
}
.section-3-about p{
  text-align: center;
  
}
@media (min-width: 700px) {
  .navbar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .menu-item {
    display: flex;
    flex-direction: row;

  }
  .section-2{
  display: flex;
  flex-direction: row;
  margin: 20px;
}
}
